*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
:root{
    --headerColor : rgba(220,220,220, 0.8)

}
html{
    scroll-behavior: smooth;
}
body{
     overflow: hidden;  
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    height: 60px;
    padding: 0 50px;
    font-size: 1em;
    overflow-y: visible;
}
header .logo{
    color: var(--headerColor);
    font-size: 1.5em;
}
a{
    
    text-decoration: none;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul a{
    color: var(--headerColor);
    margin: 200px 20px;
    font-size: 1.2em;
}
.burger-image, .cross-image{
    display: none;
}
.burger-image ion-icon, .cross-image ion-icon{
    font-size: 30px;
    color: rgb(216, 216, 216);
    cursor: pointer;
}

.burger-action{
    max-width: 400px !important;
}

@media  (max-width: 1000px){
    *{
        font-size: 0.95em;
    }
    nav{
        position: absolute;
        right: 0;
        top:0;
        height: 100vh;
        z-index: 100;
        overflow-x: hidden;
        max-width: 0;
        background: rgba(220,220,220,0.2);
        transition: max-width 0.5s ease-in;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }
    nav ul li a{
        z-index: 1;
    }
    nav ul li{
        margin: 0.8em 2em;
    }
    .burger-image, .cross-image{
        display: block;
    }
}
@media  (max-width: 600px){
    *{
        font-size: 0.9em;
    }
}