*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
:root{
    --headerColor : rgba(220,220,220, 0.8)

}
html{
    scroll-behavior: smooth;
}
body{
     overflow: hidden;  
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
    height: 60px;
    padding: 0 50px;
    font-size: 1em;
    overflow-y: visible;
}
header .logo{
    color: var(--headerColor);
    font-size: 1.5em;
}
a{
    
    text-decoration: none;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul a{
    color: var(--headerColor);
    margin: 0 20px;
    font-size: 1.2em;
}
.burger-image ion-icon{
    font-size: 30px;
    color: rgb(216, 216, 216);
}


.burger-action{
    width: auto !important;
}

@media  (max-width: 1000px){
    nav{
        position: absolute;
        right: 0;
        top:0;
        height: 100vh;
        z-index: 100;
        border: solid;
        overflow-x: hidden;
        width: 0;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
}